/* Large devices (portrait phones, less than 1400px) */
@media(min-width:1200px) and (max-width:1300.98px){
    .review-slider-arrows {
        left: -2%;
    }
    .xs-device-team{
        display: none;   
    }
}
/* Large devices (portrait phones, less than 1200px) */
@media(min-width:992px) and (max-width:1199.98px){
    .review-slider-arrows {
        top: 102%;
        display: flex;
        left: 13%;
    }
    .review-arrow {
        margin: 0 8px;
    }
    .xs-device-team{
        display: none;  
    }
    .about-left-img{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    body{
        overflow-x: hidden;
    }
    #about::after{
        display: none;
    }
    #pricing::before{
        display: none;
    }
    #review::after {
        display: none;
    }
    #subscribe::before {
        display: none;
    }
}
/* Mediuam devices (portrait phones, less than 992px) */
@media(min-width:768px) and (max-width:991.98px){
    .banner-row{
        display: flex;
        align-items: center;
    }
    #about::before {
        top: -15%;
    }
    .about-right-list-item h6 {
        font-size: 14px;
        line-height: 25px;
    }
    .solution-container::after {
        top: -8%;
    }
    #pricing::after {
        top: -20%;
    }
    .price-btn {
        padding: 16px 30px;
    }
    .pricing-list-item h6 {
        font-size: 12px;
        line-height: 24px;
    }
    .pricing-body-icon {
        margin: 0 auto;
    }
    .pricing-middle {
        padding-top: 65px;
        padding-bottom: 65px;
    }
    .story-counter{
        display: none;
    }
    .story-button{
        text-align: center;
    }
    .review-slider-arrows {
        top: 102%;
        display: flex;
        left: 13%;
    }
    .review-arrow {
        margin: 0 8px;
    }
    .review-row{
        display: flex;
        align-items: center;
    }
    #review::before {
        top: -16%;
    }
    .subscribe-left{
        text-align: center;
    }
    .subscribe-right{
        text-align: center;
    }
    .subscribe-form-group{
        display: flex;
        justify-content: center;
    }
    #subscribe::after {
        top: -30%
    }
    .footer-content p {
        padding-right: 0px;
        padding-top: 10px;
    }
    .footer-contact{
        padding-top: 20px;
    }
    .navbar-collapse {
        background-color: rgb(255, 89, 90, .4);
        border-radius: 20px;
    }
    .navbar-link {
        color: white;
    }
    .nav-item {
        text-align: center;
        padding: 10px;
    }
    /* About page starts here */
    .about-right{
        text-align: center;
    }
    .process-item-main:last-child{
        padding-top: 20px;
    }
    .about-left{
        text-align: center;
    }
    .team-card {
        margin: 0 auto;
    }
    .team-item-main:nth-child(3){
        padding-top: 25px;
    }
    .team-item-main:nth-child(4){
        padding-top: 25px;
    }
    #story-about::before {
        top: -25%;
    }
    .story-left{
        text-align: center;
    }
    .story-section-header{
        text-align: center;
    }
    #review-about {
        margin-top: 80px;
    }
    #review-about::before {
        top: -10%;
    }
    .xs-device-team{
    display: none;
    }
    #test::before {
        top: -31%;
    }
    #test {
        margin-top: 120px;
    }
    #test-pricing {
        margin-top: 120px;
    }
    #test-pricing::before {
        top: -20%;
    }
    header::before{
        display: none;
    }
    #about::after{
        display: none;
    }
    #pricing::before{
        display: none;
    }
    #review::after {
        display: none;
    }
    #subscribe::before {
        display: none;
    }
    .story-counter-medium{
        display: block;
    }
    /* About page ends here */
}
/* Small devices (portrait phones, less than 768px) */
@media(min-width:576px) and (max-width:767.98px){
    .about-right-header{
        text-align: center;
    }
    #banner {
        margin-top: 60px;
    }
    .banner-left{
        text-align: center;
    }
    .banner-left-btn {
        padding-top: 20px;
        align-items: center;
        justify-content: center;
        padding-bottom: 20px;
    }
    #about::before {
        top: -14%;
    }
    .about-right-header h4 {
        text-align: center;
    }
    .solution-container::after {
        top: -5%;
    }
    .solution-card-body {
        text-align: center;
    }
    .solution-item-icon {
        margin: 0 auto;
    }
    .solution-card-btm {
        display: flex;
        justify-content: center;
    }
    #test::before {
        top: -24%;
    }
    .test-left-header{
        text-align: center;
    }
    .test-btn-wrapper{
        text-align: center;
    }
    #pricing::after {
        top: -7%;
    }
    .pricing-item-main{
        margin: 0px auto;
        padding-bottom: 25px!important;
    }
    .pricing-body{
        text-align: center;
    }
    .pricing-body-icon {
        margin: 0 auto;
    }
    .story-counter{
        display: none;
    }
    .story-button{
        text-align: center;
    }
    .story-section-header h4 {
        text-align: center;
    }
    .story-section-header h2 {
        text-align: center;
    }
    #review::before {
        top: -10%;
    }
    .review-slider-arrows {
        top: 44%;
        left: 35%;
        display: flex;
    }
    .review-arrow {
        margin: 0 8px;
    }
    .card-img img{
        margin: 0 auto;
    }
    #subscribe::after {
        top: -28%;
    }
    .subscribe-right-header{
        text-align: center;
    }
    .sub-input {
        margin: 0 auto;
    }
    .subscribe-btn{
        text-align: center;
    }
    .footer-main-container {
        padding-right: 20px;
        padding-left: 20px;
    }
    .footer-content p {
        padding-right: 25px;
        padding-top: 14px;
    }
    .footer-contact {
        padding-right: 0px; 
    }
    .navbar-collapse {
        background-color: rgb(255, 89, 90, .4);
        border-radius: 20px;
    }
    .navbar-link {
        color: white;
    }
    .nav-item {
        text-align: center;
        padding: 10px;
    }
    /* About Page starts here */
    .process-item-main:nth-child(3){
        padding-top: 30px;
    }
    .process-item-main:nth-child(4){
        padding-top: 30px;
    }
    #keyword::after {
        display: none;
    }
    .team-item-main:nth-child(3){
        padding-top: 25px;
    }
    .team-item-main:nth-child(4){
        padding-top: 25px;
    }
    #story-about::before {
        top: -25%;
    }
    #review-about {
        margin-top: 100px;
    }
    #review-about::before {
        top: -10%;
    }
    .xs-device-team{
    display: none;
    }
    header::before{
        display: none;
    }
    #about::after{
        display: none;
    }
    #pricing::before{
        display: none;
    }
    #review::after {
        display: none;
    }
    #subscribe::before {
        display: none;
    }
    .story-counter-medium{
        display: block;
    }
    /* About Page ends here */
}
/*XS Device */
@media(min-width:413px) and (max-width:575px){
    .banner-left h1 {
        font-size: 40px;
    }
    .client-container {
        padding: 80px 40px;
    }
    .about-right-header{
        text-align: center;
    }
    .about-right-header h1 {
        font-size: 36px;
    }
    #banner {
        margin-top: 60px;
    }
    .banner-left{
        text-align: center;
    }
    .banner-left-btn {
        padding-top: 20px;
        align-items: center;
        justify-content: center;
        padding-bottom: 20px;
    }
    #about::before {
        top: -14%;
    }
    .about-right-header h4 {
        text-align: center;
    }
    .solution-container::after {
        top: -7%;
    }
    .solution-card-body {
        text-align: center;
    }
    .solution-item-icon {
        margin: 0 auto;
    }
    .solution-card-btm {
        display: flex;
        justify-content: center;
    }
    #test::before {
        top: -24%;
    }
    .test-left-header{
        text-align: center;
    }
    .test-btn-wrapper{
        text-align: center;
    }
    .pricing-item-wrapper {
        padding-top: 25px;
    }
    #pricing::after {
        top: -8%;
    }
    .pricing-item-main{
        margin: 0px auto;
        padding-bottom: 25px!important;
    }
    .pricing-body{
        text-align: center;
    }
    .pricing-body-icon {
        margin: 0 auto;
    }
    .story-counter{
        display: none;
    }
    .story-button{
        text-align: center;
    }
    .story-section-header h4 {
        text-align: center;
    }
    .story-section-header h2 {
        text-align: center;
    }
    #review::before {
        top: -12%;
        left: -6%;
    }
    .review-header h1 {
        font-size: 38px;
    }
    .review-arrow {
        margin: 0 8px;
    }
    .card-img img{
        margin: 0 auto;
    }
    #subscribe::after {
        top: -28%;
    }
    .subscribe-right-header{
        text-align: center;
    }
    .sub-input {
        margin: 0 auto;
    }
    .subscribe-btn{
        text-align: center;
    }
    .footer-main-container {
        padding-right: 20px;
        padding-left: 20px;
    }
    .footer-content p {
        padding-right: 25px;
        padding-top: 14px;
    }
    .footer-contact {
        padding-top: 15px;
        padding-right: 0px; 
    }
    .sub-input {
        width: 325px;
    }
    .navbar-collapse {
        background-color: rgb(255, 89, 90, .4);
        border-radius: 20px;
    }
    .navbar-link {
        color: white;
    }
    .nav-item {
        text-align: center;
        padding: 10px;
    }
    /* About page starts here */
    #keyword::after {
        display: none;
    }
    .process-item-main:nth-child(3){
        padding-top: 30px;
    }
    .process-item-main:nth-child(4){
        padding-top: 30px;
    }
    #keyword::after {
        display: none;
    }
    .team-item-main:nth-child(3){
        padding-top: 25px;
    }
    .team-item-main:nth-child(4){
        padding-top: 25px;
    }
    #story-about::before {
        top: -25%;
    }
    #review-about {
        margin-top: 100px;
    }
    #review-about::before {
        top: -10%;
    }
    .review-slider-arrows {
        top: 44%;
        left: 35%;
        display: flex;
    }
    .xs-device-team{
        display: none;
    }
    header::before{
        display: none;
    }
    #about::after{
        display: none;
    }
    #pricing::before{
        display: none;
    }
    #review::after {
        display: none;
    }
    #subscribe::before {
        display: none;
    }
    .story-counter-medium{
        display: block;
    }
    /* About page ends here */
}
@media(max-width:412px){
    .banner-left h1 {
        font-size: 40px;
    }
    .client-container {
        padding: 80px 40px;
    }
    .about-right-header{
        text-align: center;
    }
    .about-right-header h1 {
        font-size: 36px;
    }
    #banner {
        margin-top: 60px;
    }
    .banner-left{
        text-align: center;
    }
    .banner-left-btn {
        padding-top: 20px;
        align-items: center;
        justify-content: center;
        padding-bottom: 20px;
    }
    #about::before {
        top: -14%;
    }
    .about-right-header h4 {
        text-align: center;
    }
    .solution-container::after {
        top: -7%;
    }
    .solution-card-body {
        text-align: center;
    }
    .solution-item-icon {
        margin: 0 auto;
    }
    .solution-card-btm {
        display: flex;
        justify-content: center;
    }
    #test::before {
        top: -24%;
    }
    .test-left-header{
        text-align: center;
    }
    .test-btn-wrapper{
        text-align: center;
    }
    .pricing-item-wrapper {
        padding-top: 25px;
    }
    #pricing::after {
        top: -8%;
    }
    .pricing-item-main{
        margin: 0px auto;
        padding-bottom: 25px!important;
    }
    .pricing-body{
        text-align: center;
    }
    .pricing-body-icon {
        margin: 0 auto;
    }
    .story-counter{
        display: none;
    }
    .story-button{
        text-align: center;
    }
    .story-section-header h4 {
        text-align: center;
    }
    .story-section-header h2 {
        text-align: center;
    }
    #review::before {
        top: -12%;
        left: -6%;
    }
    .review-header h1 {
        font-size: 38px;
    }
    .review-arrow {
        margin: 0 8px;
    }
    .card-img img{
        margin: 0 auto;
    }
    #subscribe::after {
        top: -28%;
    }
    .subscribe-right-header{
        text-align: center;
    }
    .sub-input {
        margin: 0 auto;
    }
    .subscribe-btn{
        text-align: center;
    }
    .footer-main-container {
        padding-right: 20px;
        padding-left: 20px;
    }
    .footer-content p {
        padding-right: 25px;
        padding-top: 14px;
    }
    .footer-contact {
        padding-top: 15px;
        padding-right: 0px; 
    }
    .sub-input {
        width: 325px;
    }
    .navbar-collapse {
        background-color: rgb(255, 89, 90, .4);
        border-radius: 20px;
    }
    .navbar-link {
        color: white;
    }
    .nav-item {
        text-align: center;
        padding: 10px;
    }
    /* About page starts here */
    #keyword::after {
        display: none;
    }
    .process-item-main:nth-child(3){
        padding-top: 30px;
    }
    .process-item-main:nth-child(4){
        padding-top: 30px;
    }
    #keyword::after {
        display: none;
    }
    .team-item-main:nth-child(2){
        padding-top: 25px;
    }
    .team-item-main:nth-child(3){
        padding-top: 25px;
    }
    .team-item-main:nth-child(4){
        padding-top: 25px;
    }
    #story-about::before {
        top: -25%;
    }
    #review-about {
        margin-top: 100px;
    }
    #review-about::before {
        top: -10%;
    }
    .review-slider-arrows {
        left: 35%;
        display: flex;
    }
    .large-device-team{
        display: none;
    }
    .team-card {
        margin: 0 auto;
    }
    .review-slider-arrows {
        top: 64%;
    }
    #review-about::before {
        top: -14%;
    }
    .process-card-text h4 {
        line-height: 36px;
    }
    .middle-pricing {
        padding: 40px 0!important;
    }
    /* About page ends here */
    /* Coming-Soon page ends here */
    .soon-form-input {
        padding: 16px 106px 16px 30px;
    }
    .soon-header h1 {
        font-size: 50px;
        line-height: 60px;
    }
    .soon-header p {
        font-size: 20px;
        line-height: 30px;
        padding-top: 15px;
    }
    /* Coming-Soon page ends here */
    header::before{
        display: none;
    }
    #about::after{
        display: none;
    }
    #pricing::before{
        display: none;
    }
    #review::after {
        display: none;
    }
    #subscribe::before {
        display: none;
    }
    .story-counter-medium{
        display: block;
    }
    .review-right{
        padding-top: 80px;
    }
}


